*
{
    list-style: none;
}

.container
{
    
    height: 100vh;
    
}
img{
    width:15cm;
    height:auto;
}
.first
{
    display: flex;
    flex-direction:column;
    
    background-color: #1F2937;
}
.logo
{
    font-size: 24px;
    color: #F9FAF8;
    margin: 20px;
    

    
}
.header
{
    display: flex;
    justify-content: space-between;
    
    
}
.links
{
    display: flex;
    color: #e5e7eb;
    margin: 20px;
    gap: 25px;
    font-size: 18px;
}
.rest
{
    display: flex;
    
    font-size: 18px;
    justify-content: space-around;
    margin: 25px;
    color: #e5e7eb;
    gap: 8px;
    letter-spacing: 1.5px;
    
}
.aot
{
    
    margin: 25px;
    font-size: 18px;
}
.heading
{
    
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 15px;
    width: fit-content;
}
.right,.left
{
    margin: 25px;
    
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    width: fit-content;
    font-size: larger;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 10px;
    border-radius: 20px;
}
.Watchnow
{
    margin: 25px;
    
}