*
{
    list-style: none;
}

.container
{
    
    height: 100vh;
    
}
img{
    width:15cm;
    height:auto;
}
.first
{
    display: flex;
    flex-direction:column;
    
    background-color: #1F2937;
}
.logo
{
    font-size: 24px;
    color: #F9FAF8;
    margin: 20px;
    

    
}
.header
{
    display: flex;
    justify-content: space-between;
    
    
}
.links
{
    display: flex;
    color: #e5e7eb;
    margin: 20px;
    gap: 25px;
    font-size: 18px;
}
.rest
{
    display: flex;
    
    font-size: 18px;
    justify-content: space-around;
    margin: 25px;
    color: #e5e7eb;
    gap: 8px;
    letter-spacing: 1.5px;
    
}
.aot
{
    
    margin: 25px;
    font-size: 18px;
}
.heading
{
    
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 15px;
    width: fit-content;
}
.right,.left
{
    margin: 25px;
    
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    width: fit-content;
    font-size: larger;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 10px;
    border-radius: 20px;
}
.Watchnow
{
    margin: 25px;
    
}
.second
{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px;
    align-items: center;
    overflow: none;
    
}
.random
{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 20px;
    padding: 25px;
}
.list
{
    display: flex;
    gap: 150px;
    justify-content:space-between;
    width: 45cm;
    padding: 30px;
}
.poster
{
    width:7cm;
    height: 10cm;
    margin: 15px;
    box-shadow: 2px 10px 20px black;
    border-radius: 10px;
}
.information
{
    margin: 20px;
    padding: 10px;
}
.card
{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
}
.third
{
 
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  gap: 30px;
}
.quote
{
    width: 18cm;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font: weight 0;
    padding: 20px;

}
.name

{
    display: flex;
    flex-direction: column;
    width: 18cm;
    
    text-align: end;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 5px;
}
.fourth
{
  
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.block
{
    
    margin: 50px;
    height: 30vh;
    width: 70%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 30px;
        
    
}
.bold
{
    
    width: fit-content;
    margin: 50px;
    padding: 17px;
    font-weight: 800;
    color: #f9faf8;
}
.premium
{
   
    padding: 17px;
    color: #e5e7eb;
}
.signup
{
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4cm;
    height: fit-content;
    padding: 15px;
    font-size: 18px;
    margin: 300px;
    color: #f9faf8;
}
.main{
   
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    padding: 15px;
    font-size: 24px;   
    margin: 0
    
}